<% include ../partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1 class="google-sans">Portals</h1>    
        <h4 class="open-sans size-xs weight-300">Sign in to play</h4>
    </div>
    <form class ='admin-login' method = "POST" action="/auth/login">
        <br>
            
                <label for="username">
                        <input type="text" name = "username" placeholder="username">
                    </label>
                <br>    
                    <label for="password">
                        <input type="password" name = "password" placeholder = "password" autocomplete="new-password">
                    </label>
                <br>
            <input type="submit" class="btn btn-primary" value="Login"> 
    </form>
</div>